#titulo {
    font-size: 20px;
    margin: 15px;
    margin-block-end: auto;
}

ion-card{
    margin: 10px;
}

ion-avatar{
    height: 80px;
    width: 80px;
}

ion-card-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:contents;
}

ion-card-content{
    display: table-header-group;
}