<ion-button slot="start" [routerLink]="['/login']" fill="clear" id="flecha">
  <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
</ion-button>

<ion-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
        <div class="nombredeformulario"><p>Nombre</p></div>
        <ion-item>
          <ion-label></ion-label>
          <ion-input formControlName="nombre" placeholder="Ingresa tu nombre"></ion-input>
        </ion-item>
        <div class="nombredeformulario"><p>Apellido</p></div>
        <ion-item>
          <ion-input formControlName="apellido" placeholder="Ingresa tu contraseña"></ion-input>
        </ion-item>
        <div class="nombredeformulario"><p>Email</p></div>
        <ion-item>
          <ion-input formControlName="email" placeholder="Ingresa tu mail"></ion-input>
        </ion-item>
        <div class="nombredeformulario"><p>Telefono</p></div>
        <ion-item>
          <ion-input formControlName="telefono" placeholder="Ingresa tu telefono"></ion-input>
        </ion-item>
        <div class="nombredeformulario"><p>Fecha de cumpleaños</p></div>
        <ion-item>
          <ion-input formControlName="fechadenacimiento" type="date" id="cumpleanos"></ion-input>
        </ion-item>                   
      </form>
      <br>
      <ion-button (click)="guardar()" size="default"  expand="block">
        Registrarse
      </ion-button>
</ion-content>
