img{
    margin-top: 10%;
}

ion-card-header{
    margin-bottom: 0%;
}

.nombredeformulario{
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #354665;
}
ion-item{
    position: relative;
    margin-bottom: 10px; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0%;
    border: 1px solid #A6BCDA;
    border-radius: 4px;
    width: 386px;
    height: 50px;
    width: 380px; 
    margin-left: 50%;
    transform: translateX(-50%);
}

ion-button{
    margin: 10px; 
}
.centradoingresar{
    width: 210px; 
    margin-left: 50%;
    transform: translateX(-50%);
}

