ion-item{
    font-size: large;
}

ion-icon{
    font-size: 25px;
}

ion-footer{
    width: 150px; 
    margin-left: 50%;
    transform: translateX(-50%);
    border: 0px;
    font-size: large;
}

ion-item{
    font-size: large;
}

ion-icon{
    font-size: 25px;
}

ion-footer{
    width: 150px; 
    margin-left: 50%;
    transform: translateX(-50%);
    border: 0px;
    font-size: large;
}
