<ion-toolbar color="white">
  <ion-buttons slot="start">
    <ion-button (click)= "onClick()">
       <ion-icon slot="start" name="menu-outline" style="font-size: 26px"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>¿Por qué elegirnos?</ion-title>
</ion-toolbar>

<ion-content>
  <div class="contenedor">

    <div class="info" style="background-color:#FDF4C9 ;">
      <ion-icon name="construct-outline" class="icono" style="font-size: 30px;" ></ion-icon>
      <span style="font-size: 18px;" class="texto">Somos la primera aplicación para reservar servicios seguros del país</span>

    </div>
    <div class="info" style="background-color:#DFFFE8 ;">
      <ion-icon name="shield-checkmark-outline" class="icono" style="font-size: 30px;" ></ion-icon>
      <span style="font-size: 18px;" class="texto">Garantizamos la seguridad al momento de contratar</span>
    </div>
    <div class="info" style="background-color:#FDF4C9 ;">
      <ion-icon name="calculator-outline" class="icono" style="font-size: 30px;" ></ion-icon>
      <span style="font-size: 18px;" class="texto">Podes calcular el costo de tu servicio con antelación</span>
    </div>
    <div class="info" style="background-color:#DFFFE8 ;">
      <ion-icon name="clipboard-outline" class="icono" style="font-size: 30px;" ></ion-icon>
      <span style="font-size: 18px; top: 5%;" class="texto">Contamos con llamadas directas desde la aplicacion para hacer mas faciles tus reservas </span>
    </div>
    <div class="info" style="background-color:#FDF4C9 ;">
      <ion-icon name="man-outline" class="icono" style="font-size: 30px;" ></ion-icon>
      <span style="font-size: 18px;" class="texto">Contas con informacion previa de la persona a la cual vas a contratar</span>
    </div>
  </div>
  <div id="telefono">
    <ion-icon name="call-outline" style="font-size:15px;"></ion-icon>
    <span style="font-size:18px; margin-left: 5px;">413-336-5939</span>
  </div>
</ion-content>
