
ion-toolbar{
    height: 110px;
}

ion-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: -10%;
    margin-top: 50px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.info{
    position: relative;
    margin-top: 20px;
    height: 70px;
    width: 100%;
}

.icono{
    position: absolute;
    top: 25%;
    margin-left: 15px;
}

.texto{
    position: absolute;
    left: 15%;
    top: 25%;
}

#telefono {
    position: absolute;
    left: 35%;
    bottom: 0%;
}
