.fondo{
    background-color: #DFFFDF;
    height: 100px;
    border-bottom-right-radius: 100px;
}

ion-toolbar{
    height: 150px;
}

ion-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: -27%;
    margin-top: 30px;
}