.fondo{
    background-color: #DFFFDF;
    height: 100px;
    border-bottom-right-radius: 100px;
}

ion-toolbar{
    height: 150px;
}

ion-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: -10%;
    margin-top: 30px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right,rgba(232, 253, 156, 0.432),white);
}

.preguntas{
    height: 140px;
    width: 330px;
    background-color:#FAEFB4;
    border-radius: 40px;
    margin: 15px;
    box-shadow:0px 1px 10px 5px  rgba(0, 0, 0, 0.56);
}


.titulo{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #FFE871;
    height: 35px;
    text-align: center;
}