<div class="fondo">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button (click)= "onClick()">
        <ion-icon slot="start" name="menu-outline" style="font-size: 26px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>

  </ion-toolbar>

</div>

  <div style="text-align: center;"  >
    <img src="./assets/img/logo.jpeg" width="150px" class="logo">
  </div>

  <section class="contenedor">
    <div class="profesion" [routerLink]="['/menu/plomeros']">
      <img src="./assets/img/plomero.jpg"  class="imagenesprofesiones">
      <div class="nombreprofesion"><p>Plomeria</p></div>   
    </div>

    <div class="profesion" [routerLink]="['/menu/electricistas']">
      <img src="./assets/img/electricista.jpg"  class="imagenesprofesiones">
      <div class="nombreprofesion"><p class="nombreprofesion">Electricidad</p></div>   
    </div>

    <div class="profesion"  [routerLink]="['/menu/gasistas']">
      <img src="./assets/img/gasista.jpg"  class="imagenesprofesiones">
      <div class="nombreprofesion" ><p class="nombreprofesion" >Gasista</p></div>   
    </div>

    <div class="profesion">
      <img src="./assets/img/persiana.jpg"  class="imagenesprofesiones">
      <div class="nombreprofesion"><p class="nombreprofesion" id="serv">Otros servicios</p></div>   
    </div>
  </section>




<ion-content>
  
</ion-content>
