.logo{
    margin-top: 15px;
    margin-bottom: 5px;
}

.fondo{
    background-color: #DFFFDF;
    height: 96px;
    border-bottom-right-radius: 80px;
}

ion-toolbar{
    height: 150px;
}

ion-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: -10%;
    margin-top: 30px;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profesion{
    border-style: inset;
    border-width: 1.5px;
    width: 140.68px;
    height: 125.35px;
    margin: 20px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 41px;
    transform: matrix(1, 0, 0.01, 1, 0, 0);

}

.imagenesprofesiones{
    position: absolute;


    background: #F2F2F2;
    border-radius: 40.4297px 40.4297px 0px 0px;
    transform: matrix(1, 0, 0.01, 1, 0, 0);
}

.nombreprofesion{
    font-size: 19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 40px;
    position:absolute;
    bottom: 0;
    left: 50;
    right: 50;
    display: flex;
    justify-content: center;
}

#serv{
    font-size: 19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 40px;
    position:absolute;
    bottom: 0;
    left: 50;
    right: 50;
    display: flex;
    justify-content: center;
    width: 200px;
}



