<ion-button slot="start" [routerLink]="['/login']" fill="clear" id="flecha">
  <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
</ion-button>

<ion-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()" id="formulario">
        <div class="nombredeformulario"><p>Nombre</p>
          <ion-item>
            <ion-input formControlName="nombre" placeholder="Ingresa tu nombre"></ion-input>
          </ion-item>
        </div>

        <div class="nombredeformulario"><p>Apellido</p>
          <ion-item>
            <ion-input formControlName="apellido" placeholder="Ingresa tu contraseña"></ion-input>
          </ion-item>
        </div>

        <div class="nombredeformulario"><p>Email</p>
          <ion-item>
            <ion-input formControlName="email" type="email" placeholder="Ingresa tu mail"></ion-input>
          </ion-item>
        </div>

        <div class="nombredeformulario"><p>Telefono</p>
          <ion-item>
            <ion-input formControlName="telefono" type="text" pattern="[0-9]+" placeholder="Ingresa tu telefono"></ion-input>
          </ion-item>
          <span class="errormessage" *ngIf= "f['telefono'].getError('minlength')!=null">El numero de telefono es demasiado corto</span>
          <span class="errormessage" *ngIf= "f['telefono'].getError('maxlength')!=null">El nombre de usuario es demasiado largo</span>
        </div>

        <div class="nombredeformulario"><p>Fecha de nacimiento</p>
          <ion-item>
            <ion-input formControlName="fechadenacimiento" type="date" id="cumpleanos" placeholder="dd/mm/aaaa"></ion-input>
          </ion-item>
        </div>

        <div class="nombredeformulario"><p>Usuario</p>
          <ion-item>
            <ion-input formControlName="usuario" placeholder="Crear el nombre de usuario"></ion-input>
          </ion-item>
          <span class="errormessage" *ngIf= "f['usuario'].getError('minlength')!=null">El nombre de usuario es demasiado corto</span>
        </div>

        <div class="nombredeformulario"><p>Contraseña</p>
          <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Crear tu contraseña" id="password"></ion-input>
          </ion-item>
          <span class="errormessage" *ngIf= "f['password'].getError('minlength')!=null">La contraseña es demasiada corta</span>
        </div>

        <div class="nombredeformulario"><p>Confirme tu contraseña</p>
          <ion-item>
            <ion-input type="password" formControlName="confirmacionPassword" placeholder="Vuelve a escribir tu contraseña" id="password2"></ion-input>
          </ion-item>
          <span class="errormessage" *ngIf= "f['confirmacionPassword'].getError('confirmarcontra')!=null">Las contraseñas deben coincidir</span>
        </div>
        
        <ion-item id="terminos">
          <ion-checkbox slot="start" formControlName="terminosycondiciones"></ion-checkbox>
          <ion-label > Acepto terminos y condiciones</ion-label>
        </ion-item>
        <a href="https://ionicframework.com/docs/api/button" target="_blank" style="position: absolute; left: 25%;">Leer terminos y condiciones</a>
      </form>
      <br>
      <ion-button (click)="guardar()" size="default"  expand="block">
        Registrarse
      </ion-button>
</ion-content>
