#flecha{
    width: 80px;
}

.nombredeformulario{
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #354665;
    margin-bottom: 0%;
}

ion-item{
    position: relative;
    margin-bottom: 5px; 
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 0%;
    border: 1px solid #A6BCDA;
    border-radius: 4px;
    width: 386px;
    height: 50px;
    width: 380px; 
    margin-left: 50%;
    transform: translateX(-50%);
}

ion-label{
    word-wrap:normal; 
    font-weight: bold; 
    font-style: normal; 
    padding-top: 3px; 
    cursor: pointer;
    display: inline-block; 
    vertical-align: top;
    font-size: 15px;
}

ion-checkbox{
    margin-right: 5px;
    margin-left: 5px;
}

.errormessage{
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
    color: red
}

#terminos{
    border:0px;
}

#flecha{
    width: 80px;
}

.nombredeformulario{
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: #354665;
    margin-bottom: 0%;
}
ion-item{
    position: relative;
    margin-bottom: 5px; 
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 0%;
    border: 1px solid #A6BCDA;
    border-radius: 4px;
    width: 386px;
    height: 50px;
    width: 380px; 
    margin-left: 50%;
    transform: translateX(-50%);
}

ion-label{
    word-wrap:normal; 
    font-weight: bold; 
    font-style: normal; 
    padding-top: 3px; 
    cursor: pointer;
    display: inline-block; 
    vertical-align: top;
    font-size: 15px;
    }

ion-checkbox{
    margin-right: 5px;
    margin-left: 5px;
}

.errormessage{
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 15px;
    color: red
}

#terminos{
    border:0px;
}




